.icon-right{
    position: absolute;
    bottom:10px;
    right:10px;
} 

.icon-left{
    position: absolute;
    top:10px;
    left:10px;
}

.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.season-display.Winter i{
    color:blue;
}

.season-display.Summer i{
    color:red;
}

.Winter{
    background-color: aliceblue;
}

.Summer {
    background-color:#ADD8E6;
}

.scrollingLimit{
    overflow: scroll;
    height: 300px;
}